<div class="box-form-factory">

    <div class="icon-factory"><i class="fa-solid fa-farm"></i></div>
    <h2>Unicorn Factory</h2>
    

<form [formGroup]="addUnicornForm" class="formFactory" >

    <div class="form-group">
        <label for="name">Name</label>
        <input class="inputFactory" type="text" id="name" name="name" formControlName="name" required>
    </div>

    <div class="form-group">
        <label for="color">Choose Color</label>
        <input class="inputColor" type="color" value="" id="color" name="color" formControlName="color" required>
    </div>

    <div class="form-group">
        <label for="gender">Select gender</label>
        <select class="inputFactory" id="gender" name="gender" formControlName="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="age">Age <small>(max 100)</small></label>
        <input class="inputFactory" type="number" id="age" name="age" min="0" formControlName="age" oninput="validity.valid||(value='');" required>
    </div>

    <div class="form-group-btn">
        <button class="formSubmit" type="submit" [disabled]="!addUnicornForm.valid" (click)="submitUnicorn(addUnicornForm)">Craft</button>
    </div>
</form>

</div>
