<header>

  <div class="HeaderMenu">

    <div class="logo"><img src="./assets/logo_unicorn.png" alt="logo unicorn"></div>
    <div class="menu">
      <a href="#factory"><button class="btn-menu">Create Unicorn</button></a>
    </div>

  </div>

</header>

<main>

  <!-- ALL UNICORNS -->

  <div class="global-box-slider">

    <span class="title-slider">All unicorns</span>

    <div class="box-slider">
      <app-slider></app-slider>
    </div>

  </div>

  <!-- FACTORY -->

  <div class="global-box-factory">

    <!-- BOX LEFT -->

    <div id="factory" class="box-left-factory">

      <h1>Create your Unicorn</h1>
      

      <p>Don't worry <br> Unicorn's reproduction will be performed under adult supervision</p>
        
        <div class="target-factory"><span>Factory</span><i class="fa-solid fa-arrow-right"></i></div>

    </div>

     <!-- BOX RIGHT -->

    <div class="box-right-factory">

      <app-form-factory></app-form-factory>

    </div>

  </div>

</main>

<footer></footer>